{% extends 'base.html.twig' %}
{% form_theme createForm 'bootstrap_4_layout.html.twig' %}
{% block title %}new{% endblock %}

{% block body %}
<div class="container text-white">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="" >postez un nouveau post</h1>

    {{ form_start(createForm) }}
        {{ form_rest(createForm) }}

        <button type="submit" class="btn btn-lg btn-primary mt-3">Poster</button>
    {{ form_end(createForm) }}
    </div>
{% endblock %}
